<!doctype html>
<html ng-app="testGridBoard">
<head>
	<title>Grid Board Click Test</title>
	<script src="components/angular/angular.min.js"></script>
	<script src="test-grid-board-controller.js"></script>
	<script src="gr-grid-board-all.min.js"></script>
	<style type="text/css">
		svg {
		  margin: 40px;
		}
	</style>
</head>
<body ng-controller="TestGridBoardController">
	<div>
      <h2>Board Size</h2>
      <label>Rows</label>
      <input type="text" ng-model="boardRows" ng-init="boardRows=8" placeholder="rows">
      <label>Cols</label>
      <input type="text" ng-model="boardCols" ng-init="boardCols=8" placeholder="cols">
      <hr>
      <h3>Size: {{boardRows}}x{{boardCols}}</h3>
      <h3>Data: {{boardValue}}</h3>
      <h3>Count: {{count}}</h3>
    </div>
    <gr-grid-board
      values="boardValue" count-selected="count"
      rows="{{boardRows}}" columns="{{boardCols}}"
      width="512" height="512"
      line-colour="black" selected-colour="black" unselected-colour="white">
    </gr-grid-board>
</body>
</html>